body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#game {
    background-image: url('../images/game_bg.jpg');
    position: relative;
    width: 900px;
    height: 400px;
    border: 2px solid #000;
    overflow: hidden;
    display: none;
    background-repeat: no-repeat;
    background-position: center;
  }
  #game-container {
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Full width */
    text-align: center;
  }

  #game-img {
    width: 100%; 
    max-height: 80vh; /* Set the maximum height to 80% of the viewport height */
    display: block; /* Ensures the image is a block-level element to center it with margin */
    margin: 10vh auto 0; /* Centers the image vertically with equal top and bottom space and horizontally */
    object-fit: contain; /* Ensures the image is scaled to be contained within its element's box */
  }

#buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#startButton {
    font-family: 'Rubik', sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}

  #man {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 140px; /* Adjust as needed */
    height: auto; /* Adjust as needed */
  }
  
  #musicNote {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    /* Remove background-color if using an image */
    animation: moveNote 1s linear infinite;
  }

  #man, #musicNote {
    background: none;
    /* Other styles */
  }

  @keyframes moveNote {
    from {
      right: -30px;
    }
    to {
      right: 100%;
    }
  }

  #man.jump {
    animation: jumpAnimation 300ms;
    bottom: 100px; /* Adjust as needed for the jump height */
  }
  
  @keyframes jumpAnimation {
    0% { bottom: 0; }
    50% { bottom: 100px; } /* Peak of the jump */
    100% { bottom: 0; }
  }

  .jump {
    animation: jumpAnimation 500ms ease-out; /* Increased from 300ms to 600ms */
  }

  #gameOverScreen {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }
  
  .game-over-message {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
  }
  
  #restartButton {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
  } 

  #timer {
    position: right;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
}

#highestScoreDisplay{
  position: right;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 24px;
  font-family: 'Rubik', sans-serif;
}

#instructionMessage {
    margin-top: 35px; /* Spacing above the message */
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 50px;
}

#buttonContainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Stack elements vertically */
}

footer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
