#startButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10; /* Ensure it's above the game container */
}

#game {
    position: relative;
    width: 900px;
    height: 400px;
    border: 2px solid #000;
    overflow: hidden;
    display: none;
  }

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} 

#startButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    /* Add more styling as needed */
}
  
  #man {
    position: absolute;
    bottom: 0;
    width: 120px; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    /* Remove background-color and border-radius if using an image */
  }
  
  #musicNote {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    /* Remove background-color if using an image */
    animation: moveNote 1s linear infinite;
  }

  #man, #musicNote {
    background: none;
    /* Other styles */
  }

  @keyframes moveNote {
    from {
      right: -30px;
    }
    to {
      right: 100%;
    }
  }

  #man.jump {
    animation: jumpAnimation 300ms;
    bottom: 100px; /* Adjust as needed for the jump height */
  }
  
  @keyframes jumpAnimation {
    0% { bottom: 0; }
    50% { bottom: 100px; } /* Peak of the jump */
    100% { bottom: 0; }
  }

  .jump {
    animation: jumpAnimation 500ms ease-out; /* Increased from 300ms to 600ms */
  }

  #gameOverScreen {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }
  
  .game-over-message {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  #restartButton {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  } 

  #timer {
    position: right;
    top: 10px;
    left: 10px;
    color: #000;
    font-size: 24px;
}