@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playpen+Sans&family=Roboto+Condensed:wght@200;500&family=Roboto:wght@300&family=Rubik&display=swap');

.loginContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    width:60px; 
    height: 30px; 
    background-color: #0f6fa3;
    border-radius: 10px; /* Rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer:hover {
    background-color: #03045e; /* Darker color on hover */
}

.login-text {
    color: #ffffff; /* Text color */
    font-size: 13px; /* Font size */
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.infoContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    width:250px; 
    height: 30px; 
    background-color: #0077b6;
    border-radius: 10px; /* Rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
}

.from-text:hover {
    color: #03045e; /* Darker color on hover */
}

.outlet-text:hover {
    color: #03045e; /* Darker color on hover */
}

.outlet-text,
.from-text {
    color: #ffffff; /* Text color */
    font-size: 13px; /* Font size */
    margin: 0 10px;
    font-family: 'Rubik', sans-serif;

}


/* nav bar */ 
ul.navbar {
    list-style-type: none;
    margin: 60px 0 0;
    padding: 0;
    background-color: #0077b6; 
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

ul.navbar {
    background-color: #0077b6; 
    overflow: hidden;
}

ul.navbar li {
    float: left;
    flex: 1;
    text-align: center;
}

ul.navbar li a {
    display: block;
    color: #ffffff; 
    text-align: center;
    padding: 10px 10px; 
    text-decoration: none;
    font-family: 'Rubik', sans-serif;

}

ul.navbar li a:hover {
    background-color: #0056b3; 
    transition: background-color 0.3s; 
}


/* cafe name */
#cafeNameContainer {
    width: 100%; /* Take the full width to center the content */
    text-align: center; /* Center the text inside this container */
}

#cafeName {
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
    color: #03045e;
    margin-top: 20px;
    margin-bottom: 40px; /* Adjust spacing as needed */
}

#centerContent {
    display: flex;
    justify-content: center; /* Center all children horizontally */
    align-items: center; /* Align children vertically */
}

/* main pic */
#mainPic {
    max-width: 40%; /* Adjust the width as needed */
    max-height: 70vh;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin: 0 20px; /* Add horizontal spacing */
}

/* special item */
* {
    box-sizing: border-box
}

.image-slideshow {
  max-width: 30%;
  position: relative;
  margin: auto;
}

img {
  width: 100%
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* spotify */
.spotify-iframe {
    width: 30%; /* Match the width of the specialItem */
    height: 352px; /* Set a fixed height or adjust as needed */
    margin-left: 20px; /* Add spacing between the images */
    border-radius: 12px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    #centerContent {
        flex-direction: column; /* Stack children vertically on small screens */
    }

    #mainPic, #slideshow-container, .spotify-iframe {
        max-width: 80%; /* Adjust for smaller screens */
        margin: 10px 0; /* Stack with space between */
    }
}


/* product */
.product{
    background: var(--bg);
}

.product .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 2rem;
}

.product .box-container .box{
    background: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.product .box-container .box .image{
    height: 35rem;
    width: 100%;
    padding: 1.1rem;
}

.product .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.product .box-container .box .content{
    padding: 2rem;
    padding-top: 0;
}

.product .box-container .box .content h1{
    color: var(--black);
    font-size: 2.5rem;
}

.product .box-container .box .content .stars{
    padding: 1rem 0;
}

.product .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--secondary);
}

.product .box-container .box .content .price{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--secondary);
    margin-right: 1rem;
}