@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playpen+Sans&family=Roboto+Condensed:wght@200;500&family=Roboto:wght@300&family=Rubik&display=swap');

.loginContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    width:60px; 
    height: 30px; 
    background-color: #0f6fa3;
    border-radius: 10px; /* Rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer:hover {
    background-color: #03045e; /* Darker color on hover */
}

.login-text {
    color: #ffffff; /* Text color */
    font-size: 13px; /* Font size */
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.infoContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    width:250px; 
    height: 30px; 
    background-color: #0077b6;
    border-radius: 10px; /* Rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
}

.from-text:hover {
    color: #03045e; /* Darker color on hover */
}

.outlet-text:hover {
    color: #03045e; /* Darker color on hover */
}

.outlet-text,
.from-text {
    color: #ffffff; /* Text color */
    font-size: 13px; /* Font size */
    margin: 0 10px;
    font-family: 'Rubik', sans-serif;

}


/* nav bar */ 
ul.navbar {
    list-style-type: none;
    margin: 60px 0 0;
    padding: 0;
    background-color: #0077b6; 
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

ul.navbar {
    background-color: #0077b6; 
    overflow: hidden;
}

ul.navbar li {
    float: left;
    flex: 1;
    text-align: center;
}

ul.navbar li a {
    display: block;
    color: #ffffff; 
    text-align: center;
    padding: 10px 10px; 
    text-decoration: none;
    font-family: 'Rubik', sans-serif;

}

ul.navbar li a:hover {
    background-color: #0056b3; 
    transition: background-color 0.3s; 
}


/* cafe name */
#cafeNameContainer {
    width: 100%; /* Take the full width to center the content */
    text-align: center; /* Center the text inside this container */
}

#cafeName {
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
    color: #03045e;
    margin-top: 20px;
    margin-bottom: 40px; /* Adjust spacing as needed */
}

#centerContent {
    display: flex;
    justify-content: center; /* Center all children horizontally */
    align-items: center; /* Align children vertically */
}

/* main pic */
#mainPic {
    max-width: 40%; /* Adjust the width as needed */
    max-height: 70vh;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin: 0 20px; /* Add horizontal spacing */
}

/* special item */
* {
    box-sizing: border-box
}

.image-slideshow {
  max-width: 30%;
  position: relative;
  margin: auto;
}

img {
  width: 100%
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* spotify */
.spotify-iframe {
    width: 30%; /* Match the width of the specialItem */
    height: 352px; /* Set a fixed height or adjust as needed */
    margin-left: 20px; /* Add spacing between the images */
    border-radius: 12px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    #centerContent {
        flex-direction: column; /* Stack children vertically on small screens */
    }

    #mainPic, #slideshow-container, .spotify-iframe {
        max-width: 80%; /* Adjust for smaller screens */
        margin: 10px 0; /* Stack with space between */
    }
}


/* product */

/* Global CSS variables */
:root {
    /* custom properties*/
    --primary-color: #0077b6;
    --secondary: #03045e;
    --bg: #0077b6;
    --black: #000;
    --white: #fff;
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }


  .container {
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    transition: transform 0.5s;
  }
  svg {
    width: 30px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  .icon-cart {
    position: relative;
  }
  .icon-cart span {
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
  }
  .title {
    font-size: xx-large;
  }
  .listProduct .item img {
    width: 90%;
    border-radius: 1rem;
  }
  .listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
  }
  .listProduct .item {
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
  }
  .listProduct .item h2 {
    font-weight: 500;
    font-size: large;
  }
  .listProduct .item .price {
    letter-spacing: 7px;
    font-size: small;
  }
  .listProduct .item button {
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
  }
  
  /* cart */
  .cartTab {
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s;
  }
  body.showCart .cartTab {
    right: 0;
  }
  body.showCart .container {
    transform: translateX(-250px);
  }
  .cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
  }
  .cartTab .cart-btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cartTab button {
    background-color: var(--bg);
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
  }
  .cartTab .close {
    background-color: #eee;
  }
  .listCart .item img {
    width: 100%;
  }
  .listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
  }
  .listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
  }
  .listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
    cursor: auto;
  }
  .listCart .item:nth-child(even) {
    background-color: #eee1;
  }
  .listCart {
    overflow: auto;
  }
  .listCart::-webkit-scrollbar {
    width: 0;
  }
  